body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0px;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
    margin-top: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

.container {
    /* max-width: 1158px; */
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*? ====================HEADER========================= */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    /* margin-right: 76px; */
    padding: 16px 0;
}

.logo-part {
    color: #2e2f42;
}

.navigation {
    display: flex;
    align-items: center;
}

.nav-list {
    display: none;
}

.address {
    font-style: normal;
    margin-left: auto;
    display: none;
}


.open-menu-btn {
    padding: 0;
    line-height: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.mob-menu {
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    padding: 24px 24px 40px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.mob-menu-close {
    width: 24px;
    height: 24px;
    padding: 0;
    fill: #2e2f42;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 24px;
    margin-left: auto;
}

.mob-menu-close:hover,
.mob-menu-close:focus {
    background-color: #404BBF;
    fill: white;
    border: none;
}

.mob-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mob-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mob-nav-active-link {
    color: #404BBF;
}


.mob-address-list {
    margin-bottom: 48px;
}

.mob-address-list-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.mob-address-list-item:not(:last-child) {
    margin-bottom: 24px;
}

.mob-address-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mob-address-tel {
    color: #4D5AE5;
}

.mob-social-links {}    

.mob-social-list {
    display: flex;
    gap: 40px;
}

.mob-social-list-item {
    width: 40px;
    height: 40px;
}

.mob-item-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-item-link:hover,
.mob-item-link:focus {
    background-color: #31d0aa;
}

.mob-icon {
    fill: #f4f4fd;
}


/*? ==================MAIN=========================== */

.hero {
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-image-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}

.hero-wrap {
    display: flex;
    flex-direction: column;
    padding: 72px 0;
}

@media screen and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-image-mob-2x.jpg);
    }
}

.hero-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFF;
    margin-bottom: 72px;
    max-width: 216px;
    align-self: center;
}

.hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4D5AE5;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: none;
    align-self: center;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}


.features {
    padding: 96px 0;
}

.features-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.features-item {
    /* width: calc((100% - 24px * 3) / 4); */
    width: 100%;
}

.features-icon-wrap {
    /* display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px; */
    display: none;
}

.features-subtitle {
    /* font-weight: 500;
    font-size: 20px;
    line-height: 1.2; 
    letter-spacing: 0.02em;
    color: #2e2f42;*/
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-item-text {
    /* font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455; */
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.team {
    background-color: #f4f4fd;
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding-top: 96px;
    padding-bottom: 96px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    justify-content: center;
    align-items: center;
}

.team-item {
    background-color: #fff;
    /* width: calc((100% - 3 * 24px) / 4); */
    width: 264px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.team-item-lowpart {
    padding: 32px 0;
}

.team-icons-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding-right: 16px;
    padding-left: 16px;
}

.team-list-icon {
    width: 40px;
    height: 40px;
}

.team-item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    padding: 12px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-item-link:hover,
.team-item-link:focus {
    background-color: #404bbf;
}

.team-icon {
    fill: #f4f4fd;
}

.portfolio {
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding-top: 96px;
    padding-bottom: 96px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    justify-content: center;
}

.portfolio-item {
    /* width: calc((100% - 2 * 24px) / 3); */
    width: 288px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-cover-text {
    transform: translateY(0%);
}

.portfolio-cover-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-cover-text {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
}

.portfolio-item-lowpart {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portflio-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*? ====================FOOTER========================= */

.footer {
    background-color: #2e2f42;
    /* padding-top: 100px;
    padding-bottom: 100px; */
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
    /* align-items: baseline; */
}

.footer-logotext-part {
    /* margin-right: 120px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 72px; */
}

.logo-footer-part {
    color: #f4f4fd;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    padding: 0;
    margin-right: 0;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    /* max-width: 264px; */
    max-width: 288px;
}

.footer-social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-social-links-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
    /* margin-bottom: 72px; */
}

.footer-list-icon {
    width: 40px;
    height: 40px;
}

.footer-item-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-item-link:hover,
.footer-item-link:focus {
    background-color: #31d0aa;
}

.footer-icon {
    fill: #f4f4fd;
}

.footer-right-part {
    /* margin-left: 80px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.footer-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    /* margin-bottom: 16px; */
}

.footer-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    padding: 8px 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.footer-input::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.footer-form-button {
    /* min-width: 165px; */
    max-width: 165px;
    align-self: center;
    border-radius: 4px;
    padding: 8px 24px;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-button:hover,
.footer-form-button:focus {
    background-color: #404BBF;
}

.footer-form-button-icon {
    fill: white;
    margin-left: 16px;
}

/*? ================================================== */

/*? ====================MODAL========================= */

.backdrop {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    /* width: 408px; */
    /* min-height: 584px; */
    width: 288px;
    min-height: 623px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* padding: 72px 24px 24px 24px; */
    padding: 72px 16px 16px 16px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    fill: #2e2f42;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 24px;
}

.modal-close:hover,
.modal-close:focus {
    background-color: #404BBF;
    fill: white;
    border: none;
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon:hover,
.modal-close-icon:focus {
    fill: #ffffff
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 16px;
}

.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    /* width: 360px; */
    width: 256px;
    min-height: 40px;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
    background-color: transparent;
}

.modal-input:focus {
    border-color: #4d5ae5;
}

.modal-input:focus+.modal-icon {
    fill: #4D5AE5;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-input-wrap {
    position: relative;
}

.modal-icon {
    position: absolute;
    fill: #2e2f42;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 16px;
}

.textarea {
    margin-bottom: 16px;
}

.modal-text {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    /* width: 360px; */
    width: 256px;
    height: 120px;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    resize: none;
}

.modal-text:focus {
    border-color: #4d5ae5;
}


.check {
    margin-bottom: 24px;
}

.check-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    align-items: center;
}

.checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    fill: transparent;
    margin-right: 8px;
}

.modal-check:checked + .check-text .checkbox {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.modal-check-icon {}


.check-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.modal-button {
    display: block;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    background-color: #4D5AE5;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
    background-color: #404BBF;
}

/*? ================================================== */

/*? ====================MEDIA========================= */

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .logo {
        margin-right: 120px;
    }

    .nav-list {
        display: flex;
        gap: 40px;
    }

    .nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding-top: 24px;
        padding-bottom: 24px;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link:hover,
    .nav-link:focus {
        color: #404BBF;
    }

    .current {
        position: relative;
        color: #404bbf;
    }

    .current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        background-color: #404BBF;
        border-radius: 2px;
        height: 4px;
        width: 100%;
    }

    .address {
        display: block;
    }

    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .address-link {
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address-link:hover,
    .address-link:focus {
        color: #404BBF;
    }

    .open-menu-btn {
        display: none;
    }


    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-image-tab.jpg);
    }

    .hero-wrap {
        padding: 112px 0;
    }

    @media screen and (min-resolution: 192dpi) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-image-tab-2x.jpg);
        }
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
        max-width: 496px;
    }


    .features-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .features-item {
        width: calc((100% - 24px) / 2);
    }

    .features-subtitle {
        text-align: left;
    }


    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
    }

    
    .portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .portfolio-item {
        width: calc((100% - 24px) / 2);
    }


    .footer {
    }

    .footer-wrap {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        gap: 72px 24px;
        padding-left: 108px;
    }

    .footer-logotext-part {
        align-items: baseline;
        margin-bottom: 0;
    }

    .footer-text {
        max-width: 264px;
    }

    .footer-social-links {
        align-items: baseline;
    }

    .footer-social-list {
        margin-bottom: 0;
    }

    .footer-right-part {
        align-items: baseline;
    }

    .footer-form {
        flex-direction: row;
        gap: 24px;
    }


    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
        top: 96px;
        transform: translateX(-50%);
    }

    .modal-input {
        width: 360px;
    }

    .modal-text {
        width: 360px;
    }

}




@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }


    .logo {
        margin-right: 76px;
    }

    .address-list {
        flex-direction: row;
        gap: 40px;
    }

    .address-link {
        font-size: 16px;
        line-height: 1.5;
    }


    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-image.jpg);
    }

    .hero-wrap {
        padding: 188px 0;
    }

    @media screen and (min-resolution: 192dpi) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-image-2x.jpg);
        }
    }

    .hero-title {
        margin-bottom: 48px;
    }


    .features {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .features-list {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .features-item {
        width: calc((100% - 24px * 3) / 4);
    }

    .features-icon-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
    }

    .features-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }

    .features-item-text {
        font-weight: 400;
    }

    .team {
        padding: 120px 0;
    }

    .team-list {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .team-item {
        width: calc((100% - 3 * 24px) / 4);
    }


    .portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    
    .portfolio-list {
        gap: 48px 24px;
    }

    .portfolio-item {
        width: calc((100% - 2 *24px) / 3);
    }

    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-wrap {
        flex-wrap: nowrap;
        gap: 0;
    }

    .footer-logotext-part {
        align-items: baseline;
        margin-bottom: 0;
        margin-right: 120px;
    }

    .footer-text {
        max-width: 264px;
    }

    .footer-social-list {
        margin-bottom: 0;
    }

    .footer-right-part {
        align-items: baseline;
    }

    .footer-form {
        flex-direction: row;
        gap: 24px;
        margin-left: 80px;
    }

    .modal {
        top: 80px;
    }
}